html {font-size:18px;font-weight:500;color:#333;line-height:1.5rem;}
body {width: 50vw;margin:0 auto;padding-top:3rem;}
@media (max-width: 768px) {body {width:100vw;margin:1rem;padding-top:0;}}
a,a:visited,a:hover,a:active {color:#333}
h1.header img {height:3rem;}
h1.header {margin-top:-1rem;}
.post-item {margin-bottom: 3rem;}
h1, h2, h3, h4, h3.post-item, h1.header, h1.header a, .post-item h3, .post-item h3 a {font-weight:900;}