body {padding-top: 2rem}
a,a:visited,a:hover,a:active{color:#333}
h1.header img{height:1.5em;margin-right:.5rem}

* {
      font-family: "Raleway", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
    }

.post-item {margin-bottom: 2rem;}
      
h1, h2, h3, h4 {font-weight: 900;}
h3.post-item {font-weight: 900;}
h1.header {font-weight: 900;}

/* Mainline vs variation visual weight */
.sticky-move[data-mainline="1"] {
  font-weight: 600 !important;
}

.sticky-move[data-mainline="0"] {
  font-weight: 400 !important;
}

h3,
    .post-item h3,
    .post-item h3 a {
    font-weight: 900;
    }