/* Required CSS fix for chessboard.js */

.fen-board,.pgn-diagram{width:400px;max-width:100%;margin:2rem 0}#board,.pgn-diagram,.board{width:400px}.board-wrapper{max-width:400px!important}#board *,#board *::before,#board *::after,#sticky-chessboard *,#sticky-chessboard *::before,#sticky-chessboard *::after,.board *, .board *::before,.board *::after,.fen-board *,.fen-board *::before,.fen-board *::after,.pgn-diagram *,.pgn-diagram *::before,.pgn-diagram *::after,.board-wrapper{box-sizing:content-box!important}

/* Style for variations in games in posts */

.pgn-variation,.pgn-comment{margin:.25rem 0;color:#666}.pgn-variation .pgn-move{color:#666!important}

/* Style for the homepage */

h1 img{height: 1em;}
h1 a:link { text-decoration: none; } a:visited { text-decoration: none; } a:hover { text-decoration: none; } a:active { text-decoration: none; }.
